.item {
  width: 112px;
  margin: 12px !important;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.m-auto {
  margin: auto !important;
}